<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Folio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    </noscript>
    <link href="~/super/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="~/super/css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0" rel="stylesheet">
    <link href="~/super/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="~/super/css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="~/super/css/main.css?ver=1.2.0" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
    @await Html.PartialAsync("_PartialHeader")
    <div class="page-content">
        <div id="content">
           @RenderBody()
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/super/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="./scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/super/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="~/super/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/super/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/super/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/super/scripts/main.js?ver=1.2.0"></script>
</body>
</html>